@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Hide scrollbar on Blink/Chromium Browsers */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar on Firefox/Mozilla-like Browsers */
::-moz-scrollbar {
     display: none;
}

body {
  background-color: #0e1212;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

* {
  scroll-behavior: smooth;
  color-scheme: dark;
}